In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
# テストデータ
train = pd.read_csv('C:\Users\s-heya\Desktop\Kaggle\Forecasting Mini-Course Sales\notebook\dev.csv')
test = pd.read_csv('C:\Users\s-heya\Desktop\Kaggle\Forecasting Mini-Course Sales\notebook\devtest.csv')

# 本番データ
#train = pd.read_csv('../input/playground-series-s3e19/train.csv')
#test = pd.read_csv('../input/playground-series-s3e19/test.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-7-d3b06e08e6e3>, line 2)

In [114]:
train.head()

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49

In [115]:
test.head()

,id,date,country,store,product
0,136950,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding
1,136951,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs
2,136952,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People
3,136953,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions
4,136954,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better

In [116]:
# trainとtestを縦結合
data = pd.concat([train, test], sort=False)

In [117]:
data.head()

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63.0
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66.0
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9.0
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59.0
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49.0

# Country,Store,Productの変換

In [118]:
#country
country = data['country']
# ダミー変数に変換する
# ダミー変数：カテゴリーデータを0と1だけで構成されているカテゴリーごとの列データに変換したもの
data = pd.get_dummies(data, columns=['country'])
data['country'] = country
data.head()

,id,date,store,product,num_sold,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,country
0,0,2017-01-01,Kaggle Learn,Using LLMs to Improve Your Coding,63.0,1,0,0,0,0,Argentina
1,1,2017-01-01,Kaggle Learn,Using LLMs to Train More LLMs,66.0,1,0,0,0,0,Argentina
2,2,2017-01-01,Kaggle Learn,Using LLMs to Win Friends and Influence People,9.0,1,0,0,0,0,Argentina
3,3,2017-01-01,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59.0,1,0,0,0,0,Argentina
4,4,2017-01-01,Kaggle Learn,Using LLMs to Write Better,49.0,1,0,0,0,0,Argentina

In [119]:
#store
store = data['store']
# ダミー変数に変換する
# ダミー変数：カテゴリーデータを0と1だけで構成されているカテゴリーごとの列データに変換したもの
data = pd.get_dummies(data, columns=['store'])
data['store'] = store
data.head()

,id,date,product,num_sold,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,country,store_Kagglazon,store_Kaggle Learn,store_Kaggle Store,store
0,0,2017-01-01,Using LLMs to Improve Your Coding,63.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn
1,1,2017-01-01,Using LLMs to Train More LLMs,66.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn
2,2,2017-01-01,Using LLMs to Win Friends and Influence People,9.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn
3,3,2017-01-01,Using LLMs to Win More Kaggle Competitions,59.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn
4,4,2017-01-01,Using LLMs to Write Better,49.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn

In [120]:
#Product
product = data['product']
# ダミー変数に変換する
# ダミー変数：カテゴリーデータを0と1だけで構成されているカテゴリーごとの列データに変換したもの
data = pd.get_dummies(data, columns=['product'])
data['product'] = product
data.head()

,id,date,num_sold,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,country,store_Kagglazon,store_Kaggle Learn,store_Kaggle Store,store,product_Using LLMs to Improve Your Coding,product_Using LLMs to Train More LLMs,product_Using LLMs to Win Friends and Influence People,product_Using LLMs to Win More Kaggle Competitions,product_Using LLMs to Write Better,product
0,0,2017-01-01,63.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn,1,0,0,0,0,Using LLMs to Improve Your Coding
1,1,2017-01-01,66.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn,0,1,0,0,0,Using LLMs to Train More LLMs
2,2,2017-01-01,9.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn,0,0,1,0,0,Using LLMs to Win Friends and Influence People
3,3,2017-01-01,59.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn,0,0,0,1,0,Using LLMs to Win More Kaggle Competitions
4,4,2017-01-01,49.0,1,0,0,0,0,Argentina,0,1,0,Kaggle Learn,0,0,0,0,1,Using LLMs to Write Better

In [121]:
data['date'] = pd.to_datetime(data['date'])
# PandasでSeries.dt()による日付変換
# https://qiita.com/Takemura-T/items/79b16313e45576bb6492
data['dayofweek'] = data['date'].dt.dayofweek
# 以下警告文が出ている
# FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
data['weekofyear'] = data['date'].dt.weekofyear
data['quarter'] = data['date'].dt.quarter

data['monday'] = data.date.dt.weekday.eq(0).astype(np.uint8)
data['tuesday'] = data.date.dt.weekday.eq(1).astype(np.uint8)
data['wednesday'] = data.date.dt.weekday.eq(2).astype(np.uint8)
data['thursday'] = data.date.dt.weekday.eq(3).astype(np.uint8)
data['friday'] = data.date.dt.weekday.eq(4).astype(np.uint8)
data['saturday'] = data.date.dt.weekday.eq(5).astype(np.uint8)
data['sunday'] = data.date.dt.weekday.eq(6).astype(np.uint8)

data['is_month_end'] = data['date'].dt.is_month_end
data['is_month_start'] = data['date'].dt.is_month_start
data['is_quarter_end'] = data['date'].dt.is_quarter_end
data['is_quarter_start'] = data['date'].dt.is_quarter_start
data['is_year_end'] = data['date'].dt.is_year_end
data['is_year_start'] = data['date'].dt.is_year_start

data.head()

/tmp/ipykernel_32/668232871.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data['weekofyear'] = data['date'].dt.weekofyear

,id,date,num_sold,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,country,store_Kagglazon,...,thursday,friday,saturday,sunday,is_month_end,is_month_start,is_quarter_end,is_quarter_start,is_year_end,is_year_start
0,0,2017-01-01,63.0,1,0,0,0,0,Argentina,0,...,0,0,0,1,False,True,False,True,False,True
1,1,2017-01-01,66.0,1,0,0,0,0,Argentina,0,...,0,0,0,1,False,True,False,True,False,True
2,2,2017-01-01,9.0,1,0,0,0,0,Argentina,0,...,0,0,0,1,False,True,False,True,False,True
3,3,2017-01-01,59.0,1,0,0,0,0,Argentina,0,...,0,0,0,1,False,True,False,True,False,True
4,4,2017-01-01,49.0,1,0,0,0,0,Argentina,0,...,0,0,0,1,False,True,False,True,False,True

## 訓練データ作成

In [122]:
delete_columns = ['id', 'date','country','store','product']
data.drop(delete_columns, axis=1, inplace=True)
data.head()

,num_sold,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,store_Kagglazon,store_Kaggle Learn,store_Kaggle Store,product_Using LLMs to Improve Your Coding,...,thursday,friday,saturday,sunday,is_month_end,is_month_start,is_quarter_end,is_quarter_start,is_year_end,is_year_start
0,63.0,1,0,0,0,0,0,1,0,1,...,0,0,0,1,False,True,False,True,False,True
1,66.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,False,True,False,True,False,True
2,9.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,False,True,False,True,False,True
3,59.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,False,True,False,True,False,True
4,49.0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,False,True,False,True,False,True

In [123]:
train = data[:len(train)]
test = data[len(train):]

In [124]:
y_train = train['num_sold']
X_train = train.drop('num_sold', axis=1)
X_test = test.drop('num_sold', axis=1)

In [125]:
X_test.head()

,country_Argentina,country_Canada,country_Estonia,country_Japan,country_Spain,store_Kagglazon,store_Kaggle Learn,store_Kaggle Store,product_Using LLMs to Improve Your Coding,product_Using LLMs to Train More LLMs,...,thursday,friday,saturday,sunday,is_month_end,is_month_start,is_quarter_end,is_quarter_start,is_year_end,is_year_start
0,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,False,True,False,True,False,True
1,1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,False,True,False,True,False,True
2,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,False,True,False,True,False,True
3,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,False,True,False,True,False,True
4,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,False,True,False,True,False,True

In [126]:
y_train.head()

0    63.0
1    66.0
2     9.0
3    59.0
4    49.0
Name: num_sold, dtype: float64

## 機械学習アルゴリズム

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(penalty='l2', solver='sag', random_state=0, max_iter=4000)
# 実行時に以下のリンクが出現した
# https://www.kaggle.com/code/dansbecker/using-categorical-data-with-one-hot-encoding/notebook
clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
y_pred[:len(y_pred)]

## 提出

In [ ]:
#本番用
sub = pd.read_csv('../input/playground-series-s3e19/sample_submission.csv')

#試験用
#sub = pd.read_csv('../input/playground-series-s3e19/sample_submission.csv')
#sub = sub[:5]

sub['num_sold'] = list(map(int, y_pred))
sub.to_csv('submission.csv', index=False)